.sidebar {
  width: 15%;
  float: left;
  background-color: #ecf2f9;
  border: 2px solid lightblue;
  position: absolute;
  padding: 4px;
  height: 100%;
  display: block;
}

.col-md-5 , .col-md-10 {
  float: right;
  padding: 0px;
}



.left-image{
  float: left;
  height: 200px;
  width: auto;
}
